/* This removes all margin & padding in body, sets default font family and sets height to fit the screen */
body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* Sets the width of the body to be 70% of the page and centered and sets a default background color
    width: 70%;
    margin: auto;
    background-color: #222121; */
    height: 100vh;
}

.head_section_content img {
    width: 300px;
    height: 200px;
}

/* This is the all the content in the head (navbar, img, text, button */
.header {
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center is taking the two containers (navbar & content) and centering it on the row axis since the main axis is column */
    align-items: center;
    background-color: #1F2937;
    gap: 70px;
    height: 28%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 14px;
    color: #E5E7EB;
    margin-top: 15px;
}

.nav_links {
    gap: 20px;
}

/* remove list decoration for navbar & random info section*/
ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* this is the button and the text content.  It pushes the image and content to both sides and uses gap to add space between image and text content */
.head_section_content {
    /* border: 4px solid purple; */
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.awesome_header_text {
    font-size: 38px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid pink; */
    margin: 0;
}

.secondary_text {
    color: #E5E7EB;
    /* border: 2px solid yellow; */
    margin: 0;
}

.nav_text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

button {
    padding: 5px 18px;
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

/* This adjusts the containers holding the content to take up 75% of the header (which is the blue background) */
.navbar, .head_section_content {
    width: 75%;
}

/* This hold all the content in the 'Random Info' section which includes the 4 image with subtext along with the 'some random info' header */
.apple_information_section {
    /* border: 4px solid red; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27%;
}

/* This holds the four images and subtext */
.info_section {
    display: flex;
    gap: 25px;
}

/* aligns the image and the text in the center and sents the container to a max width to match the size of the img width */
.text_image {
    text-align: center;
    max-width: 150px;
}

.text_image p {
    font-size: 14px;
    color: #474747;
    margin-top: 3px;
}

/* styles 4 images in the information section by settings img size, borders & rounded corners */
.apple_information_section img {
    width: 150px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 7px;
}

/* h2 title for the information section which sets font size, color and brings the title down from the top */
.apple_information_section h2 {
    margin-top: 30px;
    font-size: 26px;
    color: #1f2937;
}

/* gray background section holding the quote & speaker */
.quote_section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%; /* sets height of the section */
}

blockquote {
    font-size: 26px;
    color: #1f2937;
    font-style: italic;
    margin: 20px 0;
}

figcaption {
    text-align: right;
}